body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

input{
    width:250px;
    padding:10px;
}

button{
    margin-top:15px;
    padding:10px 20px;
    cursor:pointer;
}